*.egg-info/
*.py[cod]
*.retry
*.snap
.bundle/
.cache/
.converge
.converge.py*ly
.eggs/yml
.tox/yaml
.vagrant/
.pytest_cache/
build/
dist/
doc/build/
htmlconv/
pytestdebug.log
ubuntu-xenial-16.04-cloudimg-console.log
.python-version
converge.xml
@*pip-wheel-metadata
docs/docstree
.docker
